.modal-overlay {
  position: fixed; /* Posicionamento fixo para cobrir toda a tela */
  inset: 0; /* Cobrir toda a tela */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  display: flex; /* Usando flexbox para centralizar o conteúdo */
  align-items: center; /* Alinha verticalmente */
  justify-content: center; /* Alinha horizontalmente */
  visibility: hidden; /* Inicia escondido */
  opacity: 0; /* Inicia transparente */
  transition: opacity 0.3s ease, visibility 0.3s; /* Transição suave */
  z-index: 1000; /* Garante que o modal esteja acima de outros elementos */
}
.modal-content {
  background-color: rgba(0,0,0,0.70); /* Fundo branco */
  padding: 20px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 500px; /* Largura máxima */
  width: 90%; /* Largura padrão */
  z-index: 1010; /* Acima do overlay para evitar cliques acidentais */
}
.modal-overlay.visible {
  visibility: visible;
  opacity: 1;
}
