:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

}
nav,ul,li,a {
  display: flex;
  gap: 5px;
  text-decoration: none;
}
#logoNunesSport{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
#slogan {
  margin-top: 10px;
  text-align: center;
  color: #646cff;
}
#slogan h1 {
  font-weight: bold;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px #000000;
}
#slogan span {
  font-size: small;
  margin-top:0;
}





button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #4CAF50;
  color: #fff;
}
button:hover {
  color: #457f3c;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #242424 0%, #3a3a3a 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #646cff;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    margin-top: 20px;
    color: #fff;

}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #646cff;
}

#columAcoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.delete-product-btn {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.edit-product-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
